h1 {
    background-color: beige;
    text-align: right;
    text-emphasis-color: black;
    font: 1em sans-serif;   

}

body {

    background-color: beige;
    text-align: right;
    text-emphasis-color: blue;
    font: 1em sans-serif; 

}